body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
#root {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.logo {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 160px);
  width: 320px;
  height: 180px;
}

.navigation-closed {
  z-index: 1;
  overflow: hidden;
  background-color: black;
  opacity: 0.7;
  position: fixed; /* Set the navbar to fixed position */
  width: 50px; /* Full width */
  height: 100%;
  transition: 1200ms;
  transform: translateY(0%);
}

.navigation-open {
  z-index: 1;
  overflow: hidden;
  background-color: black;
  opacity: 0.7;
  position: fixed; /* Set the navbar to fixed position */
  width: 200px; /* Full width */
  height: 100%;
  transition: 1200ms;
  transform: translateY(100%);
  transform: translateX(200px);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: black;
}

.menu-button {
  border: none;
  margin: 10px;
  width: 64px;
  height: 30px;
  cursor: pointer;
  top: 50%;
}

.menu-button:hover {
  color: gold;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* 
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-color: white;
  min-height: 900px;
}

.pimg2 {
  background-image: url(../img/tree.jpeg);
  min-height: 500px;
}

.pimg3 {
  background-image: url(../img/thailand.jpeg);
  min-height: 400px;
}

.section-light {
  min-height: 600px;
  margin: 0 15% 0 15%;
}

.section h2 {
  width: 100%;
  text-align: center;
}
