* {
    box-sizing: border-box;
    color: white;
  }
  
  body {
    background-color: #24292E;
    margin: 0;
    font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .welcome-title {
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 150px);
        width: 300px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
      }

      
  .welcome-enter {
        position: absolute;
        color: white;
        bottom: calc(20%);
        left: calc(50% - 50px);
        border: 2px solid white; /* Green */
        border-radius: 50%;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        width: 100px;
        height: 100px;
        cursor: pointer;
      }
      
      
  
  