.navigation-closed {
  z-index: 1;
  overflow: hidden;
  background-color: black;
  opacity: 0.07;

  position: fixed; /* Set the navbar to fixed position */
  width: 50px; /* Full width */
  height: 100%;
}

.navigation-open {
  z-index: 1;
  overflow: hidden;
  background-color: black;
  opacity: 0.07;
  position: fixed; /* Set the navbar to fixed position */
  width: 150px; /* Full width */
  height: 100%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: black;
}

.menu-button {
  border: none;
  background-color: transparent;
  color: white;
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  top: 50%;
}

.menu-button:hover {
  color: black;
}
